.alert {
  position: relative;
  padding: 16px;
  background-color: #f44336;
  color: white;
  margin-bottom: 2px;
  top: 2%;
}
  
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
.closebtn:hover {
  color: #a28089;
}

.hide {
  display: none;
}